.bracket {
  width: 70px;
  height: 70px;
  padding: 5px;
  border: 3px solid black;
  margin: 0;
  position: absolute;
}

.team {
  height: 70px;
  width: 70px;
}

.bills {
  position: absolute;
  top: 10px;
  left: 200px;
}

.steelers {
  position: absolute;
  top: 100px;
  left: 200px;
}

.chiefs {
  position: absolute;
  top: 230px;
  left: 200px;
}

.dolphins {
  position: absolute;
  top: 320px;
  left: 200px;
}

.texans {
  position: absolute;
  top: 450px;
  left: 200px;
}

.browns {
  position: absolute;
  top: 540px;
  left: 200px;
}

.cowboys {
  position: absolute;
  top: 10px;
  left: 1150px;
}

.packers {
  position: absolute;
  top: 100px;
  left: 1150px;
}

.lions {
  position: absolute;
  top: 230px;
  left: 1150px;
}

.rams {
  position: absolute;
  top: 320px;
  left: 1150px;
}

.buccaneers {
  position: absolute;
  top: 450px;
  left: 1150px;
}

.eagles {
  position: absolute;
  top: 540px;
  left: 1150px;
}

.ravens{
  position: absolute;
  top: 135px;
  left: 330px;
}

.divisionalone {
  position: absolute;
  top: 225px;
  left: 330px;
}

.divisionaltwo {
  position: absolute;
  top: 360px;
  left: 330px;
}

.divisionalthree {
  position: absolute;
  top: 450px;
  left: 330px;
}

.niners{
  position: absolute;
  top: 135px;
  left: 1010px;
}

.divisionalfour {
  position: absolute;
  top: 225px;
  left: 1010px;
}

.divisionalfive {
  position: absolute;
  top: 360px;
  left: 1010px;
}

.divisionalsix {
  position: absolute;
  top: 450px;
  left: 1010px;
}

.conferenceone {
  position: absolute;
  top: 260px;
  left: 460px;
}

.conferencetwo {
  position: absolute;
  top: 350px;
  left: 460px;
}

.conferencethree {
  position: absolute;
  top: 260px;
  left: 870px;
}

.conferencefour {
  position: absolute;
  top: 350px;
  left: 870px;
}

.superbowlone {
  position: absolute;
  top: 260px;
  left: 665px;
}

.superbowltwo {
  position: absolute;
  top: 350px;
  left: 665px;
}

.superbowllogo {
  position: absolute;
  top: 0px;
  left: 560px;
  width: 288px;
  height: 213px
}
