.bracket {
  width: 70px;
  height: 70px;
  padding: 5px;
  border: 3px solid black;
  margin: 0;
  position: absolute;
}

.team {
  height: 70px;
  width: 70px;
}

.afc_wildcard_seed_2 {
  position: absolute;
  top: 10px;
  left: 200px;
}

.afc_wildcard_seed_7 {
  position: absolute;
  top: 100px;
  left: 200px;
}

.afc_wildcard_seed_3 {
  position: absolute;
  top: 230px;
  left: 200px;
}

.afc_wildcard_seed_6 {
  position: absolute;
  top: 320px;
  left: 200px;
}

.afc_wildcard_seed_4 {
  position: absolute;
  top: 450px;
  left: 200px;
}

.afc_wildcard_seed_5 {
  position: absolute;
  top: 540px;
  left: 200px;
}

.nfc_wildcard_seed_2 {
  position: absolute;
  top: 10px;
  left: 1150px;
}

.nfc_wildcard_seed_7 {
  position: absolute;
  top: 100px;
  left: 1150px;
}

.nfc_wildcard_seed_3 {
  position: absolute;
  top: 230px;
  left: 1150px;
}

.nfc_wildcard_seed_6 {
  position: absolute;
  top: 320px;
  left: 1150px;
}

.nfc_wildcard_seed_4 {
  position: absolute;
  top: 450px;
  left: 1150px;
}

.nfc_wildcard_seed_5 {
  position: absolute;
  top: 540px;
  left: 1150px;
}

.afc_divisional_seed_1{
  position: absolute;
  top: 135px;
  left: 330px;
}

.afc_divisional_seed_2 {
  position: absolute;
  top: 225px;
  left: 330px;
}

.afc_divisional_seed_3 {
  position: absolute;
  top: 360px;
  left: 330px;
}

.afc_divisional_seed_4 {
  position: absolute;
  top: 450px;
  left: 330px;
}

.nfc_divisional_seed_1 {
  position: absolute;
  top: 135px;
  left: 1010px;
}

.nfc_divisional_seed_2 {
  position: absolute;
  top: 225px;
  left: 1010px;
}

.nfc_divisional_seed_3 {
  position: absolute;
  top: 360px;
  left: 1010px;
}

.nfc_divisional_seed_4 {
  position: absolute;
  top: 450px;
  left: 1010px;
}

.afc_conference_seed_1 {
  position: absolute;
  top: 260px;
  left: 460px;
}

.afc_conference_seed_2 {
  position: absolute;
  top: 350px;
  left: 460px;
}

.nfc_conference_seed_1 {
  position: absolute;
  top: 260px;
  left: 870px;
}

.nfc_conference_seed_2 {
  position: absolute;
  top: 350px;
  left: 870px;
}

.afc_champion {
  position: absolute;
  top: 260px;
  left: 665px;
}

.nfc_champion {
  position: absolute;
  top: 350px;
  left: 665px;
}

.super_bowl_champion {
  position: absolute;
  top: 475px;
  left: 628px;
  width: 150px;
  height: 150px;
}

.super_bowl_logo {
  position: absolute;
  top: 0px;
  left: 560px;
  width: 288px;
  height: 213px
}

.afc_logo {
  position: absolute;
  top: 275px;
  left: 20px;
  width: 120px;
  height: 86px
}

.nfc_logo {
  position: absolute;
  top: 275px;
  left: 1300px;
  width: 122px;
  height: 92px
}
